{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:es5/no-es2015",
    "google",
    "angular"
  ],
  "rules": {
    "camelcase": "off",
    "max-len": ["error", { "code": 120 }],
    "no-var": "off",
    "angular/no-http-callback": "error",
    "angular/controller-as": "off"
  },
  "globals": {
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true,
    "inject": true,
    "module": true,
    "moment": true,
    "spyOn": true
  }
}